---
import Social from "./Social.astro";
const socials = [
  {
    site: "GitHub",
    url: "https://github.com/bretbelgarde"
  },
  {
    site: "LinkedIn",
    url: "https://www.linkedin.com/in/bret-belgarde-19bb606b/"
  },
];

---

<footer>
    <ul>
      Follow me on social media! {socials.map((platform) =>
        <li><Social url={platform.url} site={platform.site} /></li>
      )}
  </ul>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  ul li {
      display: inline-block;
      margin-right: .5rem;
  }
</style>
