---
import BaseLayout from './BaseLayout.astro'
const {frontmatter} = Astro.props
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>Written By: {frontmatter.author} on {frontmatter.pubDate.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <hr></hr>
    <slot />
</BaseLayout>
